body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 6rem; 
}

ul {
  padding: 0;
}

.board {
  width: 20rem;
	height: 20rem;
	margin: 0 auto;
  margin-top: 5rem;
  color: #fff;
  border: 5px solid rgb(0, 0, 0);
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.xo {
  color: black;
  border: 5px solid rgb(0, 0, 0);
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer {
  color: blue;
}

.user {
  color: rgb(255, 62, 210);
}

form {
  margin-top: 2rem;
}

.btn {
  border: 5px solid black;
  background-color: white;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 1.5rem;
  margin: 1.2rem;
  
}

.btn-prim {
  background-color: black;
  color: white;
}

button:active {
  background-color: blue;
  border-color: blue;
}

.slot-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.xo[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}